<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StatusBarStyle</key>
	<integer>0</integer>
	<key>tabBar</key>
	<dict>
		<key>backgroundColor</key>
		<string>#FFFFFF</string>
		<key>tintColor</key>
		<string>#2CC55C</string>
	</dict>
	<key>navigation</key>
	<dict>
		<key>backgroundColor</key>
		<string>#FFFFFF</string>
		<key>tintColor</key>
		<string>#999999</string>
		<key>titleColor</key>
		<string>#333333</string>
	</dict>
	<key>viewController</key>
	<dict>
		<key>backgroundColor</key>
		<string>#f4f4f4</string>
		<key>contentViewColor</key>
		<string>#FFFFFF</string>
		<key>inputPlaceholderColor</key>
		<string>#cdcdcd</string>
		<key>inputTextColor</key>
		<string>#333333</string>
		<key>contentTitleColor</key>
		<string>#333333</string>
		<key>contentSubtitleColor</key>
		<string>#666666</string>
	</dict>
	<key>tableView</key>
	<dict>
		<key>cellColor</key>
		<string>#FFFFFF</string>
		<key>cellSelectedColor</key>
		<string>#f4f4f4</string>
		<key>separatorColor</key>
		<string>#EDEDED</string>
		<key>titleColor</key>
		<string>#333333</string>
		<key>subtitleColor</key>
		<string>#999999</string>
		<key>iconColor</key>
		<string>#D0D0D0</string>
	</dict>
</dict>
</plist>
